snippet ec
	echo ${0};
snippet php
	<?php
	${0}
	?>
snippet ns
	namespace ${1:Foo\Bar\Baz};
	${0}
snippet	var_
	var_dump(${0})
	die;
snippet pp 
	<?php
snippet for
	foreach( ${1} as $${2:key} => $${3:val}) {
		${0}	
	} 

