[submodule "bundle/ctrlp.vim"]
    path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-addon-mw-util"]
    path = bundle/vim-addon-mw-util
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-airline"]
    path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-snipmate"]
    path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-surround"]
    path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-tlib"]
    path = bundle/vim-tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule "bundle/vim-erlang"]
	path = bundle/vim-erlang
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = git@github.com:jelera/vim-javascript-syntax.git
[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "bundle/jshint2"]
	path = bundle/jshint2
	url = git@github.com:Shutnik/jshint2.vim.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-nodejs-complete"]
	path = bundle/vim-nodejs-complete
	url = git@github.com:myhere/vim-nodejs-complete.git
[submodule "bundle/autocomplpop"]
	path = bundle/autocomplpop
	url = git@github.com:vim-scripts/AutoComplPop.git
